@import "colors";

#sideMenu {
    position: absolute;
    margin-top: 3vh;
    height: 85vh;
    width: 45%;
    margin-left: -3vh;
    background-image: url("../Core/icons/Ellipse.png");
    background-size: contain;
    background-repeat: no-repeat;

    ul {
        position: relative;
        top: 20%;
        left: 15%;
        width: 60%;
        list-style-type: none;

        li {
            padding-top: 15%;
            font-size: 3.5vh;
            font-weight: bold;
            font-family: Tahoma, Verdana, Segoe, sans-serif;
            cursor: pointer;
        }

        :hover {
            text-decoration: underline;   
        }

        #currentPage{
            font-size: 5vh;
            color: white;
        }
    }
}

.ProfileForm {
    box-sizing: border-box;
    margin: auto;
    margin-top: 9vh;
    margin-bottom: 1vh;
    margin-right: 28vh;
    height: 75vh;
    width: 37%;
    text-align: center;
    // backdrop-filter: blur(30px);
    border: 1px solid $border-color;
    border-radius: 20px;

    overflow: hidden;
    position: relative;
    &:before {
        width: 43vw;
        height: 90vh;
        content: "";
        position: absolute;
        top: -3.7vh;
        left: -5vw;
        background-image: url("../ProfileFormBackground.png");
        background-size: cover;
        box-shadow: inset 0 0 0 200 rgba(100, 100, 100, 0.2);
        filter: blur(50px);
    }

    #top {
        position: relative;
        margin-bottom: 11vh;
        z-index: 2;
    }

    h3 {
        display: inline-block;
        position: relative;
        top: 2vh;
        left: -37%;
        cursor: pointer;
        z-index: 2;
    }

    #backButton {
        height: 7vh;
        width: 60%;

        position: relative;
        z-index: 2;
    }

    .textBox {
        margin: auto;
        margin-bottom: 8vh;
        padding-bottom: 0.4vh;
        width: 50%;
        border-bottom: 2px solid black;

        position: relative;
        z-index: 2;
        i {
            float: left;
            margin-left: 0.7vw;
            margin-top: 0.2vh;
        }
        input {
            border: none;
            outline: none;
            background: none;
            width: 80%;
            margin-left: 1vh;
            font-size: 2vh;
        }
        ::placeholder {
            color: black;
            opacity: 0.9;
            font-size: 2vh;
        }

        :-ms-input-placeholder {
            color: black;
            opacity: 0.9;
            font-size: 2vh;
        }

        ::-ms-input-placeholder {
            color: black;
            opacity: 0.9;
            font-size: 2vh;
        }
    }
    
    .submit-btn {
        width: 45%;
        padding: 1vh;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 5vh;
        font-family: "Century Gothic";
        font-weight: bold;
        font-size: 2.5vh;
        text-align: center;
        border: none;
        border-radius: 20px;
        background-color: $pink;
        cursor: pointer;

        position: relative;
        z-index: 2;
    }
}
